<div class="row">
    <% if user_signed_in? %>
        <h1>
            All Snippets
        </h1>
        <p>
            <%= link_to 'New Snippet', new_snippet_path, class: "btn btn-success" %>
        </p>
        <ul>
            <% @snippets.each do |snip| %>
                <li class="snippet-view">
                    <%= link_to snip.name, edit_snippet_path(snip) %>
                    <br/>
                    <%= link_to 'Delete Snippet', snippet_path(snip), method: 'DELETE', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
                </li>
                <hr/>
            <% end %>
        </ul>
    <% end %>
</div>