<div class="row">
    <h1>
        All posts:
    </h1>
    <% if user_signed_in? and current_user.moderator? %>
        <p>
            <%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
        </p>
    <% end %>
    <% @posts.each do |post| %>
        <%= render 'post', post: post %>
        <hr />
    <% end %>
</div>
