<h2>
    <%= @post.title %>
</h2>
<div>
    <%= @post_display.render( 'params' => params ).html_safe %>
</div>
<% if user_signed_in? %>
    <p>
        <%= link_to 'Edit Post', edit_post_path(@post) %>
    </p>
<% end %>